@page "/password"
@inject IJSRuntime JS
@inject NavigationManager Nav

<!--Lösenordrutan-->
<div class="d-flex justify-content-center align-items-start" style="height: 80vh; margin-top: 80px;">
    <div class="card p-4 shadow-sm" style="width: 300px;">
        
        <h4 class="text-center mb-3">Ange lösenord</h4>

        <!--Här skriver man pinkoden-->
        <input type="password" class="form-control mb-3" placeholder="PIN-kod" @bind="Pin"/>

        <!--Knappen som skickar in pinkoden-->
        <button class="btn btn-primary w-100" @onclick="CheckPin">Lås upp</button>
        
        @if (!string.IsNullOrEmpty(Error))
        {
            <!--Felmeddelande om man skriver fel lösenord-->
            <div class="alert alert-danger mt-3 text-center">@Error</div>
        }
    </div>
</div>

@code {
    private string Pin = "";
    private string Error = "";
    private const string CorrectPin = "1234";

    /// <summary>
    /// Kollar om användaren skrev rätt lösenord
    /// Om rätt spara upplåst i localstorage och gå vidare
    /// om fel visar felmeddelande
    /// </summary>
    private async Task CheckPin()
    {
        if (Pin == CorrectPin)
        {
            await JS.InvokeVoidAsync("localStorage.setItem", "app-unlocked", "true");
            
            Error = "";
            
            Nav.NavigateTo("/accounts");
        }

        else
        {
            Error = "Fel pin-kod";
        }
    }
}